body {
 background-color: rgb(13, 226, 201); 
 margin-top: 10px;
 margin-left: 10px;

}
   
#Square {
    background-color:  white;
}

#circle {
    background-color:  white;
}

#rectangles {
    background-color:  white;
}

#triangle {
    background-color:  white;
}

#fun {
    background-color:  white;
}